# Data Science Pandas

## Tasks Today:

0) <b>Pre-Work</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Numpy Random Sampling

1) <b>Pandas</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Importing <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Tabular Data Structures <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - from_dict() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - read_csv() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) <b>In-Class Exercise #1</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Accessing Data <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Indexing <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - df.loc <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - keys() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Slicing a DataFrame <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Built-In Methods <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - head() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - tail() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - shape <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - describe() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - sort_values() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - .columns <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) <b>In-Class Exercise #2</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Filtration <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Conditionals <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subsetting <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Column Transformations <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Generating a New Column w/Data <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - User Defined Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Aggregations <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - groupby() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Type of groupby() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - mean() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - groupby() w/Multiple Columns <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - drop_duplicates() <br>

## Numpy Random Sampling

In [1]:
import numpy as np
# np.random.uniform()

# A single call generates a single random number between 0 and 1

print('Here is a random number: %s' % np.random.uniform())

# You can also pass some parameters or bounds

print('Here is a random number between 0 and 1 Million: %s' % np.random.uniform(0, 1e6))

# You can also generate a bunch of random numbers all at once

print('Here are 3 random numbers between 0 and 10: %s' % np.random.uniform(0, 10, 3))

# Even matrices with shapes as a parameter

print('Here is a 3x3 matrix with numbers between 0 and 10: \n %s' % np.random.uniform(0, 10, (3, 3)))

Here is a random number: 0.6151942736498733
Here is a random number between 0 and 1 Million: 844232.1849260223
Here are 3 random numbers between 0 and 10: [7.76780899 5.04651204 2.61279064]
Here is a 3x3 matrix with numbers between 0 and 10:
 [[4.85711677 5.43862887 0.75883063]
 [2.55643739 5.8275338  6.65834459]
 [3.01310855 7.89514004 7.23634413]]

## Pandas <br>

<p>Pandas is a flexible data analysis library built on top of NumPy that is excellent for working with tabular data. It is currently the de-facto standard for Python-based data analysis, and fluency in Pandas will do wonders for your productivity and frankly your resume. It is one of the fastest ways of getting from zero to answer in existence. </p>

<ul>
    <li>Pandas is a Python module, written in C. The Pandas module is a high performance, highly efficient, and high level data analysis library. It allows us to work with large sets of data called dataframes.</li>
    <li>Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.)</li>
    <li>Dataframe = Spreadsheet (has column headers, index, etc.)</li>
</ul>

### Importing

In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\kunle kuforiji\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\kunle kuforiji\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\kunle kuforiji\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\kunle kuforiji\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\kunle kuforiji\anaconda3\lib\site-packages (from pandas) (1.26.0)
Requirement already satisfied: six>=1.5 in c:\users\kunle kuforiji\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import pandas as pd

# always use pd, standard for data science

### Tabular data structures <br>
<p>The central object of study in Pandas is the DataFrame, which is a tabular data structure with rows and columns like an excel spreadsheet. The first point of discussion is the creation of dataframes both from native Python dictionaries, and text files through the Pandas I/O system.</p>

In [22]:
names = ['Ola',
        'Bukky',
        'Margaret',
        'Kunle',
        'Subomi',
        'Posi',
        'Anjola',
        'Kuforiji']

ages = np.random.randint(18,35,len(names))

my_people = (
    'names', names,
    'ages',ages)

my_people

('names',
 ['Ola', 'Bukky', 'Margaret', 'Kunle', 'Subomi', 'Posi', 'Anjola', 'Kuforiji'],
 'ages',
 array([18, 24, 19, 27, 31, 32, 33, 23]))

##### from_dict()

<p>Let's convert our not-so-useful-for-analysis dict into a Pandas dataframe. We can use the from_dict function to do this easily using Pandas:</p>

In [11]:
data =pd.DataFrame.from_dict(my_people)
data

                                                   0
0                                              names
1  [Ola, Bukky, Margaret, Kunle, Subomi, Posi, An...
2                                               ages
3                   [31, 22, 18, 25, 26, 33, 21, 20]

##### read_csv()

In [29]:
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

marathon = pd.read_csv('boston_marathon2017_edited - boston_marathon2017_edited.csv',sep =',')
marathon

,10K,15K,20K,25K,30K,35K,40K,5K,Age,Bib,...,Division,Gender,Half,M/F,Name,Number of Records,Official Time,Overall,Pace,State
0,12/30/1899 12:30:28 AM,12/30/1899 12:45:44 AM,12/30/1899 1:01:15 AM,12/30/1899 1:16:59 AM,12/30/1899 1:33:01 AM,12/30/1899 1:48:19 AM,12/30/1899 2:02:53 AM,12/30/1899 12:15:25 AM,24,11.0,...,1,1,12/30/1899 1:04:35 AM,M,"Kirui, Geoffrey",1,12/30/1899 2:09:37 AM,1,12/30/1899 12:04:57 AM,NaN
1,12/30/1899 12:30:27 AM,12/30/1899 12:45:44 AM,12/30/1899 1:01:15 AM,12/30/1899 1:16:59 AM,12/30/1899 1:33:01 AM,12/30/1899 1:48:19 AM,12/30/1899 2:03:14 AM,12/30/1899 12:15:24 AM,30,17.0,...,2,2,12/30/1899 1:04:35 AM,M,"Rupp, Galen",1,12/30/1899 2:09:58 AM,2,12/30/1899 12:04:58 AM,OR
2,12/30/1899 12:30:29 AM,12/30/1899 12:45:44 AM,12/30/1899 1:01:16 AM,12/30/1899 1:17:00 AM,12/30/1899 1:33:01 AM,12/30/1899 1:48:31 AM,12/30/1899 2:03:38 AM,12/30/1899 12:15:25 AM,25,23.0,...,3,3,12/30/1899 1:04:36 AM,M,"Osako, Suguru",1,12/30/1899 2:10:28 AM,3,12/30/1899 12:04:59 AM,NaN
3,12/30/1899 12:30:29 AM,12/30/1899 12:45:44 AM,12/30/1899 1:01:19 AM,12/30/1899 1:17:00 AM,12/30/1899 1:33:01 AM,12/30/1899 1:48:58 AM,12/30/1899 2:04:35 AM,12/30/1899 12:15:25 AM,32,21.0,...,4,4,12/30/1899 1:04:45 AM,M,"Biwott, Shadrack",1,12/30/1899 2:12:08 AM,4,12/30/1899 12:05:03 AM,CA
4,12/30/1899 12:30:28 AM,12/30/1899 12:45:44 AM,12/30/1899 1:01:15 AM,12/30/1899 1:16:59 AM,12/30/1899 1:33:01 AM,12/30/1899 1:48:41 AM,12/30/1899 2:05:00 AM,12/30/1899 12:15:25 AM,31,9.0,...,5,5,12/30/1899 1:04:35 AM,M,"Chebet, Wilson",1,12/30/1899 2:12:35 AM,5,12/30/1899 12:05:04 AM,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26405,12/30/1899 1:35:41 AM,12/30/1899 2:23:35 AM,12/30/1899 3:12:44 AM,12/30/1899 4:12:06 AM,12/30/1899 5:03:08 AM,12/30/1899 5:55:18 AM,12/30/1899 6:46:57 AM,12/30/1899 12:46:44 AM,61,25166.0,...,344,11972,12/30/1899 3:23:31 AM,F,"Steinbach, Paula Eyvonne",1,12/30/1899 7:09:39 AM,26407,12/30/1899 12:16:24 AM,CA
26406,12/30/1899 1:05:33 AM,12/30/1899 1:52:17 AM,12/30/1899 2:49:41 AM,12/30/1899 3:50:19 AM,12/30/1899 4:50:01 AM,12/30/1899 5:53:48 AM,12/30/1899 6:54:21 AM,12/30/1899 12:32:03 AM,25,25178.0,...,4774,14436,12/30/1899 3:00:26 AM,M,"Avelino, Andrew R.",1,12/30/1899 7:16:59 AM,26408,12/30/1899 12:16:40 AM,NC
26407,12/30/1899 1:43:36 AM,12/30/1899 2:32:36 AM,NaN,12/30/1899 4:15:21 AM,12/30/1899 5:06:37 AM,12/30/1899 6:00:33 AM,12/30/1899 6:54:38 AM,12/30/1899 12:53:11 AM,57,27086.0,...,698,11973,12/30/1899 3:36:24 AM,F,"Hantel, Johanna",1,12/30/1899 7:19:37 AM,26409,12/30/1899 12:16:47 AM,PA
26408,12/30/1899 1:27:19 AM,12/30/1899 2:17:17 AM,12/30/1899 3:11:40 AM,12/30/1899 4:06:10 AM,12/30/1899 5:07:09 AM,12/30/1899 6:06:07 AM,12/30/1899 6:56:08 AM,12/30/1899 12:40:34 AM,64,25268.0,...,1043,14437,12/30/1899 3:22:30 AM,M,"Reilly, Bill",1,12/30/1899 7:20:44 AM,26410,12/30/1899 12:16:49 AM,NY
26409,12/30/1899 1:17:12 AM,12/30/1899 2:00:10 AM,12/30/1899 2:58:55 AM,12/30/1899 4:27:14 AM,12/30/1899 5:37:13 AM,12/30/1899 6:39:07 AM,12/30/1899 7:41:23 AM,12/30/1899 12:39:36 AM,48,25266.0,...,2553,14438,12/30/1899 3:08:16 AM,M,"Rigsby, Scott",1,12/30/1899 7:58:14 AM,26411,12/30/1899 12:18:15 AM,GA

### In-Class Exercise #1 - Read in Boston Red Sox Hitting Data <br>
<p>Use the pandas read_csv() method to read in the statistics from the two files yesterday.</p>

In [37]:
bos17 = pd.read_csv('Boston Red Sox hitting data 2017.csv',sep =',')
bos18 = pd.read_csv('Boston Red Sox hitting data 2018.csv',sep =',')
bos17

,Rk,Pos,Name,Age,G,PA,AB,R,H,2B,...,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB
0,1,C,Christian Vazquez,26,99,345,324,43,94,18,...,0.330,0.404,0.735,91,131,14,3,0,1,0
1,2,1B,Mitch Moreland,31,149,576,508,73,125,34,...,0.326,0.443,0.769,99,225,14,6,0,5,6
2,3,2B,Dustin Pedroia,33,105,463,406,46,119,19,...,0.369,0.392,0.760,100,159,11,2,2,4,4
3,4,SS,Xander Bogaerts,24,148,635,571,94,156,32,...,0.343,0.403,0.746,95,230,17,6,0,2,6
4,5,3B,Rafael Devers,20,58,240,222,34,63,14,...,0.338,0.482,0.819,111,107,5,0,0,0,3
5,6,LF,Andrew Benintendi,22,151,658,573,84,155,26,...,0.352,0.424,0.776,102,243,16,6,1,8,7
6,7,CF,Jackie Bradley Jr.,27,133,541,482,58,118,19,...,0.323,0.402,0.726,89,194,8,9,0,2,4
7,8,RF,Mookie Betts,24,153,712,628,101,166,46,...,0.344,0.459,0.803,108,288,9,2,0,5,9
8,9,DH,Hanley Ramirez,33,133,553,496,58,120,24,...,0.320,0.429,0.750,94,213,15,6,0,0,8
9,10,C,Sandy Leon,28,85,301,271,32,61,14,...,0.290,0.354,0.644,68,96,5,1,1,3,1
10,11,UT,Chris Young,33,90,276,243,30,57,12,...,0.322,0.387,0.709,85,94,4,2,0,1,0
11,12,3B,Deven Marrero,26,71,188,171,32,36,9,...,0.259,0.333,0.593,54,57,8,0,3,2,0
12,13,2B,Eduardo Nunez,30,38,173,165,23,53,12,...,0.353,0.539,0.892,128,89,3,2,0,0,0
13,14,2B,Brock Holt,29,64,164,140,20,28,6,...,0.305,0.243,0.548,47,34,3,3,0,2,0
14,15,IF,Josh Rutledge,28,37,118,107,10,24,2,...,0.297,0.262,0.558,49,28,1,2,0,0,0
15,16,3B,Pablo Sandoval,30,32,108,99,10,21,2,...,0.269,0.354,0.622,61,35,4,0,0,1,0
16,17,UT,Sam Travis,23,33,83,76,13,20,6,...,0.325,0.342,0.667,75,26,2,1,0,0,0
17,18,UT,Tzu-Wei Lin,23,25,66,56,7,15,0,...,0.369,0.339,0.709,88,19,0,0,1,0,0
18,19,IF,Marco Hernandez,24,21,60,58,7,16,3,...,0.300,0.328,0.628,65,19,0,1,0,0,0
19,20,UT,Rajai Davis,36,17,38,36,7,9,2,...,0.289,0.306,0.595,56,11,2,1,0,0,0
20,21,UT,Steve Selsky,27,8,9,9,0,1,1,...,0.111,0.222,0.333,-16,2,0,0,0,0,0
21,22,UT,Blake Swihart,25,6,7,5,1,1,0,...,0.429,0.200,0.629,74,1,0,0,0,0,0
22,23,2B,Chase d'Arnaud,30,2,1,1,2,1,0,...,1.000,1.000,2.000,428,1,0,0,0,0,0

### Accessing Data <br>

##### Indexing

<p>You can directly select a column of a dataframe just like you would a dict. The result is a Pandas 'Series' object.</p>

In [42]:
import pandas as pd

# Create a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'San Francisco', 'Los Angeles']}

df = pd.DataFrame(data)

# Access the 'Name' column
name_column = df['Name']

print(name_column)

0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object

##### df.loc

<p>Along the horizontal dimension, rows of Pandas DataFrames are Row objects. You will notice there is a third column present in the DataFrame - this is the $\textit{index}$. It is automatically generated as a row number, but can be reassigned to a column of your choice using the DataFrame.set_index(colname) method. We can use it to access particular Pandas $\textit{rows}$, which are also Series objects:</p>

In [43]:
import pandas as pd

# Creating a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'San Francisco', 'Los Angeles']}

df = pd.DataFrame(data)

# Displaying the DataFrame
print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles

##### keys()

In [44]:
# Access all of the keys/columns of the dataframe
# Dataframe.keys()
import pandas as pd

# Create a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'San Francisco', 'Los Angeles']}

df = pd.DataFrame(data)

# Convert DataFrame to dictionary and access keys
keys = df.to_dict().keys()

print(keys)

dict_keys(['Name', 'Age', 'City'])

##### Slicing a DataFrame

In [45]:
# printing all data for context
import pandas as pd

# Creating a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma'],
        'Age': [25, 30, 35, 40, 22],
        'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago', 'Boston']}

df = pd.DataFrame(data)

# Printing the entire DataFrame
print("Original DataFrame:")
print(df)

# Slicing using iloc (index-based slicing)
subset_iloc = df.iloc[1:4, :]  # Rows 1 to 3, all columns
print("\nSubset using iloc:")
print(subset_iloc)

# Slicing using loc (label-based slicing)
subset_loc = df.loc[1:3, :]  # Rows with index labels 1 to 3, all columns
print("\nSubset using loc:")
print(subset_loc)

Original DataFrame:
      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   40        Chicago
4     Emma   22         Boston

Subset using iloc:
      Name  Age           City
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   40        Chicago

Subset using loc:
      Name  Age           City
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   40        Chicago

### Built-In Methods <br>

<p>These are methods that are frequently used when using Pandas to make your life easier. It is possible to spend a whole week simply exploring the built-in functions supported by DataFrames in Pandas. Here however, we will simply highlight a few ones that might be useful, to give you an idea of what's possible out of the box with Pandas:</p>

##### head()

In [46]:
# DataFrame.head()  -- Accepts integer parameter(gives access to more rows)
import pandas as pd

# Assuming you have a DataFrame named 'df'
df = pd.DataFrame({
    'Column1': [1, 2, 3, 4, 5],
    'Column2': ['A', 'B', 'C', 'D', 'E']
})

# The default behavior of head() is to display the first 5 rows
print(df.head())

   Column1 Column2
0        1       A
1        2       B
2        3       C
3        4       D
4        5       E

##### tail()

In [47]:
# DataFrame.tail()  -- Accepts integer parameter(gives access to more rows)
import pandas as pd

# Creating a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
        'Age': [25, 30, 35, 40, 22],
        'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago', 'Boston']}

df = pd.DataFrame(data)

# Using tail() to display the last 2 rows of the DataFrame
last_rows = df.tail(2)
print(last_rows)

    Name  Age     City
3  David   40  Chicago
4  Emily   22   Boston

##### shape

In [48]:
# The dataframe has a shape property, just like a NumPy matrix. 
# print(df.shape) -- DataFrame.shape -- No Parameter
import pandas as pd

# Creating a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'San Francisco', 'Los Angeles']}
df = pd.DataFrame(data)

# Displaying the shape of the DataFrame
print(df.shape)

(3, 3)

##### describe() <br>
<p>Probably one of the most important methods to understand...</p>

In [49]:
# Collect summary statistics in one line
# DataFrame.describe() -- Accepts parameters (include, exclude)
import pandas as pd

# Create a DataFrame
data = {'A': [1, 2, 3, 4, 5],
        'B': [10, 20, 30, 40, 50],
        'C': [100, 200, 300, 400, 500]}
df = pd.DataFrame(data)

# Use describe() on the DataFrame
summary_stats = df.describe()

# Display the summary statistics
print(summary_stats)

              A          B           C
count  5.000000   5.000000    5.000000
mean   3.000000  30.000000  300.000000
std    1.581139  15.811388  158.113883
min    1.000000  10.000000  100.000000
25%    2.000000  20.000000  200.000000
50%    3.000000  30.000000  300.000000
75%    4.000000  40.000000  400.000000
max    5.000000  50.000000  500.000000

##### sort_values()

In [54]:
# Sort based on many labels, with left-to-right priority
# sorted_data = data.sort_values('ages').reset_index()

import pandas as pd

# Create a sample DataFrame
data = {'A': [1, 2, 3, 1],
        'B': [4, 3, 2, 1],
        'C': [10, 8, 6, 4]}

df = pd.DataFrame(data)

# Sort based on multiple columns with left-to-right priority
sorted_df = df.sort_values(by=['A', 'B', 'C'])

print(sorted_df)

# Assuming 'data' is a pandas DataFrame
sorted_data = data.sort_values('ages').reset_index()

   A  B   C
3  1  1   4
0  1  4  10
1  2  3   8
2  3  2   6

AttributeError: 'dict' object has no attribute 'sort_values'

##### .columns

In [55]:
# will show all cols headers
# DataFrame.columns -- has no parameters


# Keys brings back the 'index' of whatever data type we are working with 
import pandas as pd

# Creating a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'San Francisco', 'Los Angeles']}

df = pd.DataFrame(data)

# Displaying column headers
print(df.columns)

Index(['Name', 'Age', 'City'], dtype='object')

### In-Class Exercise #2 - Describe & Sort Boston Red Sox Hitting Data <br>
<p>Take the data that you read in earlier from the Red Sox csv's and use the describe method to understand the data better. Compare the two years and decide which team is having the better year. Then sort the values based on Batting Average.</p>

In [70]:
import pandas as pd

# Read data from CSV files
data_2017 = pd.read_csv('Boston Red Sox hitting data 2017.csv')
data_2018 = pd.read_csv('Boston Red Sox hitting data 2018.csv')

# Describe data for 2017
description_2017 = data_2017.describe()
print("Description of 2017 data:")
print(description_2017)

# Describe data for 2018
description_2018 = data_2018.describe()
print("\nDescription of 2018 data:")
print(description_2018)

# Compare mean batting average for 2017 and 2018
mean_batting_avg_2017 = data_2017['BA'].mean()
mean_batting_avg_2018 = data_2018['BA'].mean()

if mean_batting_avg_2017 > mean_batting_avg_2018:
    print("\n2017 was a better year.")
elif mean_batting_avg_2017 < mean_batting_avg_2018:
    print("\n2018 was a better year.")
else:
    print("\nBoth years had similar performance in terms of mean batting average.")

 # Compare mean batting average for 2017 and 2018
mean_batting_avg_2017 = data_2017['BA'].mean()
mean_batting_avg_2018 = data_2018['BA'].mean()

if mean_batting_avg_2017 > mean_batting_avg_2018:
    print("\n2017 was a better year.")
elif mean_batting_avg_2017 < mean_batting_avg_2018:
    print("\n2018 was a better year.")
else:
    print("\nBoth years had similar performance in terms of mean batting average.")
    
# Sort values based on Batting Average for 2017
sorted_data_2017 = data_2017.sort_values(by='BA', ascending=False)
print("\nTop batting averages for 2017:")
print(sorted_data_2017['BA'])

# Sort values based on Batting Average for 2018
sorted_data_2018 = data_2018.sort_values(by='BA', ascending=False)
print("\nTop batting averages for 2018:")
print(sorted_data_2018['BA'])

Description of 2017 data:
             Rk        Age           G          PA          AB           R  \
count  23.00000  23.000000   23.000000   23.000000   23.000000   23.000000
mean   12.00000  27.478261   72.086957  274.565217  245.521739   34.130435
std     6.78233   4.110624   52.747178  236.592059  209.032157   30.804817
min     1.00000  20.000000    2.000000    1.000000    1.000000    0.000000
25%     6.50000  24.000000   28.500000   74.500000   67.000000    8.500000
50%    12.00000  27.000000   64.000000  188.000000  171.000000   30.000000
75%    17.50000  30.000000  119.000000  502.000000  444.000000   52.000000
max    23.00000  36.000000  153.000000  712.000000  628.000000  101.000000

                H         2B         3B         HR  ...        OBP        SLG  \
count   23.000000  23.000000  23.000000  23.000000  ...  23.000000  23.000000
mean    63.434783  13.086957   0.826087   7.304348  ...   0.346217   0.393348
std     55.645653  12.630817   1.466355   8.309003  ...   0.153742   0.156269
min      1.000000   0.000000   0.000000   0.000000  ...   0.111000   0.200000
25%     18.000000   2.000000   0.000000   0.000000  ...   0.298500   0.330500
50%     53.000000  12.000000   0.000000   5.000000  ...   0.325000   0.387000
75%    118.500000  19.000000   1.500000  10.000000  ...   0.348000   0.426500
max    166.000000  46.000000   6.000000  24.000000  ...   1.000000   1.000000

             OPS        OPS+          TB        GDP        HBP         SH  \
count  23.000000   23.000000   23.000000  23.000000  23.000000  23.000000
mean    0.739609   93.521739  100.086957   6.130435   2.304348   0.347826
std     0.298278   78.686299   91.930267   5.786382   2.566122   0.775107
min     0.333000  -16.000000    1.000000   0.000000   0.000000   0.000000
25%     0.625000   63.000000   22.500000   1.500000   0.000000   0.000000
50%     0.709000   88.000000   89.000000   4.000000   2.000000   0.000000
75%     0.764500   99.500000  176.500000  10.000000   3.000000   0.000000
max     2.000000  428.000000  288.000000  17.000000   9.000000   3.000000

              SF        IBB
count  23.000000  23.000000
mean    1.565217   2.086957
std     2.149547   3.073539
min     0.000000   0.000000
25%     0.000000   0.000000
50%     1.000000   0.000000
75%     2.000000   4.000000
max     8.000000   9.000000

[8 rows x 26 columns]

Description of 2018 data:
             Rk        Age           G          PA          AB           R  \
count  20.00000  20.000000   20.000000   20.000000   20.000000   20.000000
mean   10.50000  29.100000   82.350000  314.100000  280.200000   43.600000
std     5.91608   4.666792   52.916294  230.972065  203.871631   38.293053
min     1.00000  21.000000    2.000000    7.000000    6.000000    0.000000
25%     5.75000  25.000000   37.000000  125.500000  115.250000   16.500000
50%    10.50000  29.500000   85.500000  278.500000  258.000000   29.000000
75%    15.25000  32.500000  129.250000  510.250000  475.500000   62.250000
max    20.00000  37.000000  150.000000  661.000000  579.000000  129.000000

                H         2B         3B         HR  ...        OBP        SLG  \
count   20.000000  20.000000  20.000000  20.000000  ...  20.000000  20.000000
mean    75.250000  17.650000   1.550000  10.400000  ...   0.307700   0.387500
std     62.462515  15.624795   1.959457  11.722224  ...   0.068843   0.135884
min      1.000000   0.000000   0.000000   0.000000  ...   0.143000   0.091000
25%     28.000000   6.000000   0.000000   1.000000  ...   0.262000   0.304000
50%     49.500000  11.000000   0.500000   6.500000  ...   0.305500   0.399000
75%    115.000000  26.250000   3.000000  15.250000  ...   0.360500   0.441000
max    188.000000  47.000000   6.000000  43.000000  ...   0.438000   0.640000

             OPS        OPS+          TB        GDP        HBP         SH  \
count  20.000000   20.000000   20.000000  20.000000  20.000000  20.000000
mean    0.695200   86.450000  127.200000   6.500000   2.750000   0.350000
std     0.200419   52.199491  113.226183   5.633546   3.274704   0.812728
min     0.310000  -17.000000    1.000000   0.000000   0.000000   0.000000
25%     0.588000   59.500000   37.500000   1.000000   0.000000   0.000000
50%     0.712500   91.000000   72.500000   5.500000   2.000000   0.000000
75%     0.788000  112.500000  192.000000   9.000000   4.250000   0.000000
max     1.078000  186.000000  358.000000  19.000000  11.000000   3.000000

              SF        IBB
count  20.000000  20.000000
mean    2.400000   1.900000
std     2.436564   3.110255
min     0.000000   0.000000
25%     0.000000   0.000000
50%     2.000000   0.000000
75%     4.250000   2.250000
max     7.000000  11.000000

[8 rows x 26 columns]

2017 was a better year.

2017 was a better year.

Top batting averages for 2017:
22    1.000
12    0.321
2     0.293
0     0.290
4     0.284
18    0.276
3     0.273
5     0.271
17    0.268
7     0.264
16    0.263
19    0.250
1     0.246
6     0.245
8     0.242
10    0.235
9     0.225
14    0.224
15    0.212
11    0.211
21    0.200
13    0.200
20    0.111
Name: BA, dtype: float64

Top batting averages for 2018:
7     0.346
8     0.330
5     0.290
3     0.288
13    0.279
9     0.277
2     0.265
12    0.254
15    0.246
1     0.245
14    0.242
4     0.240
6     0.234
11    0.229
16    0.222
10    0.207
0     0.177
19    0.167
17    0.130
18    0.091
Name: BA, dtype: float64

### Filtration <br>
<p>Let's look at how to filter dataframes for rows that fulfill a specific conditon.</p>

##### Conditionals

In [74]:
# Conditional boolean dataframe
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
    'Age': [25, 30, 22, 35, 28],
    'Salary': [50000, 60000, 45000, 70000, 55000]
}

df = pd.DataFrame(data)
print(df)

# Filter rows where Age is greater than 25
filtered_df = df[df['Age'] > 25]
print(filtered_df)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   22   45000
3    David   35   70000
4    Emily   28   55000
    Name  Age  Salary
1    Bob   30   60000
3  David   35   70000
4  Emily   28   55000

##### Subsetting

In [77]:
# exactly like numpy

import pandas as pd

# Create a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 22, 35],
        'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']}

df = pd.DataFrame(data)

# Example 1: Filter rows where Age is greater than 25
condition = df['Age'] > 25
filtered_df = df[condition]
print(filtered_df)

# Example 2: Filter rows where Age is greater than 25 and City is 'San Francisco'
condition = (df['Age'] > 25) & (df['City'] == 'San Francisco')
filtered_df = df[condition]
print(filtered_df)

    Name  Age           City
1    Bob   30  San Francisco
3  David   35        Chicago
  Name  Age           City
1  Bob   30  San Francisco

### Column Transformations <br>
<p>Rarely, if ever, will the columns in the original raw dataframe read from CSV or database table be the ones you actually need for your analysis. You will spend lots of time constantly transforming columns or groups of columns using general computational operations to produce new ones that are functions of the old ones. Pandas has full support for this: Consider the following dataframe containing membership term and renewal number for a group of customers:</p>

In [92]:
# Generate some fake data
import pandas as pd

# Generate some fake data
data = {'customer_id': [1, 2, 3, 4, 5],
        'membership_term': [6, 12, 6, 12, 6],
        'renewal_number': [1, 2, 1, 3, 1]}

df = pd.DataFrame(data)
# Create a new column 'total_duration'
df['total_duration'] = df['membership_term'] * df['renewal_number']

##### Generating a New Column w/Data

In [93]:
# DataFrame['key'] = Some Calculation from our DataFrame Columns
import pandas as pd

# Assuming you have a DataFrame df with columns 'membership_term' and 'renewal_number'
data = {'membership_term': [6, 12, 3, 6, 12],
        'renewal_number': [1, 2, 1, 3, 2]}

df = pd.DataFrame(data)

# Let's say you want to create a new column 'total_months' by multiplying 'membership_term' and 'renewal_number'
df['total_months'] = df['membership_term'] * df['renewal_number']

# Display the updated DataFrame
print(df)

   membership_term  renewal_number  total_months
0                6               1             6
1               12               2            24
2                3               1             3
3                6               3            18
4               12               2            24

##### User Defined Function

<p>If what you want to do to a column that can't be represented by simple mathematical operations, you can write your own $\textit{user defined function}$ with the full customizability available in Python and any external Python packages, then map it directly onto a column. Let's add some ages to our customer dataframe, and then classify them into our custom defined grouping scheme:</p>

In [94]:
import pandas as pd
import numpy as np

# Create a sample customer dataframe
customers = pd.DataFrame({
    'customer_id': range(1, 11),
    'name': ['Customer{}'.format(i) for i in range(1, 11)],
    'gender': ['Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male']
})

# Create a new column for ages
customers['ages'] = np.random.randint(18, 70, 10)

# User defined function for age grouping
def make_age_groups(age):
    if age < 25:
        return '18-24'
    elif 25 <= age < 35:
        return '25-34'
    elif 35 <= age < 45:
        return '35-44'
    elif 45 <= age < 55:
        return '45-54'
    else:
        return '55+'

# Apply the age grouping function to create a new column 'age_group'
customers['age_group'] = customers['ages'].apply(make_age_groups)

# Print the resulting dataframe
print(customers)

   customer_id        name  gender  ages age_group
0            1   Customer1    Male    20     18-24
1            2   Customer2  Female    68       55+
2            3   Customer3    Male    41     35-44
3            4   Customer4  Female    60       55+
4            5   Customer5    Male    39     35-44
5            6   Customer6    Male    22     18-24
6            7   Customer7  Female    51     45-54
7            8   Customer8    Male    25     25-34
8            9   Customer9  Female    43     35-44
9           10  Customer10    Male    30     25-34

<p>As a last example I'll show here how you would use a lambda function to create a UDF that depends on $\textit{more than one}$ column:</p>

<li>UDF = User Defined Function</li>

In [95]:
#Axis for apply can only be 1 or 0 -- 1 being the X axis 0 being the Y axis

import pandas as pd

# Sample DataFrame
data = {'column1': [1, 2, 3, 4],
        'column2': [5, 6, 7, 8]}

df = pd.DataFrame(data)

# Define a lambda function that takes two columns and performs a custom operation
custom_function = lambda x, y: x + y  # You can replace this with your own operation

# Apply the lambda function to create a new column
df['result_column'] = df.apply(lambda row: custom_function(row['column1'], row['column2']), axis=1)

# Display the DataFrame with the new column
print(df)

   column1  column2  result_column
0        1        5              6
1        2        6              8
2        3        7             10
3        4        8             12

### In-Class Exercise #3 - Create Your Own UDF <br>
<p>Using the Boston Red Sox data, create your own UDF which creates a new column called 'All-Star' and puts every player with either a batting average over .280 or an on base percentage of over .360 with a result of 'Yes' in the column and 'No' if not.</p>

In [96]:
import pandas as pd

data = {
    'Name': ['Player1', 'Player2'],
    'BA': [0.233, 0.150],
    'OBP': [0.360, 0.288]
}

# Create a DataFrame
df = pd.DataFrame(data)

# Function to determine All-Star status
def is_all_star(row):
    return 'Yes' if row['BA'] > 0.280 or row['OBP'] > 0.360 else 'No'

# Apply the function to create the 'AllStar' column
df['AllStar'] = df.apply(is_all_star, axis=1)

# Display the result
print(df)

      Name     BA    OBP AllStar
0  Player1  0.233  0.360      No
1  Player2  0.150  0.288      No

### Aggregations <br>
<p>The raw data plus some transformations is generally only half the story. Your objective is to extract actual insights and actionable conclusions from the data, and that means reducing it from potentially billions of rows to some summary statistics via aggregation functions.</p>

##### groupby() <br>
<p>The .groupby() function is in some ways a 'master' aggregation.</p> 

<p>Data tables will usually reserve one column as a primary key - that is, a column for which each row has a unique value. This is to facilitate access to the exact rows of a data table that a user wants to view. The other columns will often have repeated values, such as the age groups in the above examples. We can use these columns to explore the data using the Pandas API:</p>

In [99]:
# also introducing .count() here, exact same as to how it's used in SQL

# Using the groupby with the column intact as a column/key
# customers.groupby('age_group', as_index = False).count()[['customer_id','age_group']]

customers.groupby('age_group').count()
print(type(customers.groupby('age_group')))

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>

##### Type of groupby()

<p>The result is a new dataframe, the columns of which all contain the counts of the grouped field. Notice the type of a grouped dataframe:</p>

In [112]:
import pandas as pd

# Creating a sample DataFrame
data = {'Category': ['A', 'B', 'A', 'B', 'A', 'B'],
        'Value': [10, 20, 15, 25, 12, 18]}
df = pd.DataFrame(data)

# Grouping by 'Category'
grouped_df = df.groupby('Category')

# Applying sum() to get the sum of 'Value' for each category
result_df = grouped_df.sum()

print(result_df)

          Value
Category
A            37
B            63

<p>This is because simply grouping data doesn't quite make sense without an aggregation function like count() to pair with. In this case, we're counting occurances of the grouped field, but that's not all we can do. We can take averages, standard deviations, mins, maxes and much more! Let's see how this works a bit more:</p>

##### mean()

In [111]:
# mean = average
import pandas as pd

# Sample DataFrame
data = {'Category': ['A', 'B', 'A', 'B', 'A', 'B'],
        'Value': [10, 15, 20, 25, 30, 35]}
df = pd.DataFrame(data)

# Group by 'Category' and calculate the mean for each group
mean_values = df.groupby('Category')['Value'].mean()

print(mean_values)

Category
A    20.0
B    25.0
Name: Value, dtype: float64

##### groupby() w/Multiple Columns

<p>We end up with the average age of the groups in the last column, the average tenure in the tenure column, and so on and so forth. You can even split the groups more finely by passing a list of columns to group by:</p>

In [113]:
import pandas as pd

# Sample DataFrame
data = {
    'Department': ['HR', 'IT', 'HR', 'IT', 'IT', 'HR'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank'],
    'Age': [25, 30, 35, 28, 32, 40],
    'Tenure': [2, 5, 7, 3, 4, 8]
}

df = pd.DataFrame(data)

# Group by multiple columns and calculate average
grouped_df = df.groupby(['Department', 'Employee']).agg({
    'Age': 'mean',
    'Tenure': 'mean'
}).reset_index()

print(grouped_df)

  Department Employee   Age  Tenure
0         HR    Alice  25.0     2.0
1         HR  Charlie  35.0     7.0
2         HR    Frank  40.0     8.0
3         IT      Bob  30.0     5.0
4         IT    David  28.0     3.0
5         IT      Eve  32.0     4.0

##### drop_duplicates()

<p>Drops all duplicates from the current dataframe</p>

In [114]:
import pandas as pd

# Creating a sample DataFrame
data = {'A': [1, 2, 2, 3, 4, 4],
        'B': ['apple', 'banana', 'banana', 'cherry', 'date', 'date']}
df = pd.DataFrame(data)

# Displaying the original DataFrame
print("Original DataFrame:")
print(df)

# Dropping duplicates
df_no_duplicates = df.drop_duplicates()

# Displaying the DataFrame after removing duplicates
print("\nDataFrame after dropping duplicates:")
print(df_no_duplicates)

Original DataFrame:
   A       B
0  1   apple
1  2  banana
2  2  banana
3  3  cherry
4  4    date
5  4    date

DataFrame after dropping duplicates:
   A       B
0  1   apple
1  2  banana
3  3  cherry
4  4    date

In [115]:
# Drop duplicates based on a subset of columns
df_subset_no_duplicates = df.drop_duplicates(subset=['A'])

# Displaying the DataFrame after dropping duplicates based on column 'A'
print("\nDataFrame after dropping duplicates based on column 'A':")
print(df_subset_no_duplicates)

DataFrame after dropping duplicates based on column 'A':
   A       B
0  1   apple
1  2  banana
3  3  cherry
4  4    date

In [116]:
# Send customer data into a CSV file
import csv

# Sample customer data
customer_data = [
    {"Name": "Ola Kufo", "Email": "kunlekufo@yahoo.com.com", "Phone": "123-456-7890"},
    {"Name": "Anjola Kufo", "Email": "kunlekufo@gmail.com", "Phone": "987-654-3210"},
  
]


csv_file_path = "customer_data.csv"

# Writing to CSV file
with open(csv_file_path, mode='w', newline='') as file:
    # Create a CSV writer object
    writer = csv.DictWriter(file, fieldnames=["Name", "Email", "Phone"])

    # Write the header
    writer.writeheader()

    # Write the customer data
    writer.writerows(customer_data)

print(f"Customer data has been written to {csv_file_path}")

Customer data has been written to customer_data.csv

<p>Thus the groupby operation allows you to rapidly make summary observations about the state of your entire dataset at flexible granularity. In one line above, we actually did something very complicated - that's the power of the dataframe. In fact, the process often consists of several iterative groupby operations, each revealing greater insight than the last - if you don't know where to start with a dataset, try a bunch of groupbys!</p>

### Homework Excersise #1 - Find the Total Number of Runs and RBIs for the Red Sox <br>
<p>Get total number of home runs and rbi's</p>

In [127]:
# step 1: Add a new column with the key 'Team' and all column values should be 'BOS'


# step 2: Group by the 'Team' column and get total home runs and rbi's

# Produce data for both 2017 and 2018 (ie print both seperated by a newline character \n)
import pandas as pd

# Load datasets
df_2017 = pd.read_csv('Boston Red Sox hitting data 2017.csv')
df_2018 = pd.read_csv('Boston Red Sox hitting data 2018.csv')

# Step 1: Add a new column with the key 'Team', and all column values should be 'BOS'
df_2017['Team'] = 'BOS'
df_2018['Team'] = 'BOS'

# Step 2: Group by the 'Team' column and get total home runs and RBI's
result_2017 = df_2017.groupby('Team')[['HR', 'RBI']].sum()
result_2018 = df_2018.groupby('Team')[['HR', 'RBI']].sum()

# Print the results
print('Total Runs and RBIs for the Red Sox in 2017:')
print(result_2017)

print('\nTotal Runs and RBIs for the Red Sox in 2018:')
print(result_2018)

Total Runs and RBIs for the Red Sox in 2017:
       HR  RBI
Team
BOS   168  735

Total Runs and RBIs for the Red Sox in 2018:
       HR  RBI
Team
BOS   208  826

## Find the average age of runners in the 2017 Boston Marathon

In [129]:
import pandas as pd

# Load the CSV file into a DataFrame
file_path = 'boston_marathon2017_edited - boston_marathon2017_edited.csv'
data = pd.read_csv(file_path)

# Calculate the average age
average_age = data['Age'].mean()

# Print the result
print(f'The average age of runners is: {average_age:.2f} years')

The average age of runners is: 42.59 years